body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #333;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #f9fafb;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}
.button {
    background-color: #ffcd38;
    color: #333;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.logos {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #fff;
}
.logos img {
    margin: 0 10px;
}
.features {
    text-align: center;
    padding: 50px 20px;
}
.feature-item {
    display: inline-block;
    width: 200px;
    margin: 20px;
}
.feature-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}
.feature-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.feature-item p {
    font-size: 1em;
}

.large-emoji {
    font-size: 50px; /* Adjust the size as needed */
  }

.hero {
    text-align: center;
    padding: 30px 20px;
    background-color: #f0f4ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero p {
    text-align: left;
    width: 60%;
    font-size: 1.2em;
    margin-bottom: 30px;
}

.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.testimonials h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.testimonial {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 45%;
    box-sizing: border-box;
}

.testimonial img {
    width: 120px;
    height: 120px;
    margin-right: 15px;
    border-radius: 50%;
}

@media (max-width: 1024px) {
    .hero h1 {
        font-size: 2.5em;
    }
    .feature-item {
        width: 45%;
    }
}

@media (max-width: 768px) {
    .hero h1 {
        font-size: 2em;
    }
    .feature-item {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .hero h1 {
        font-size: 1.5em;
    }
    .hero p {
        font-size: 1em;
    }
}
