{{ define "main" }}

<section class="hero">
    <h1>We help businesses reduce their Google Cloud Platform costs by 10-75%</h1>
</section>

<section class="features">
    <h2>Our Process to Save You Money</h2>
    <div class="features-grid">
        <div class="feature-item">
            <div class="feature-content">
                <span class="large-emoji" alt="audit">🔍</span>
                <div class="feature-text">
                    <h3>Audit</h3>
                    <p>Identify areas for cost optimization.</p>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature-content">
                <span class="large-emoji" alt="report">📚</span>
                <div class="feature-text">
                    <h3>Report</h3>
                    <p>Provide actionable recommendations.</p>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature-content">
                <span class="large-emoji" alt="implement">🛠️</span>
                <div class="feature-text">
                    <h3>Implement</h3>
                    <p>Whether it's you, us, or someone else, the choice is yours.</p>
                </div>
            </div>
        </div>
        <div class="feature-item">
            <div class="feature-content">
                <span class="large-emoji" alt="monitor">🔬</span>
                <div class="feature-text">
                    <h3>Monitor</h3>
                    <p>Follow-up and monitor results for 3 months.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <h2>Client Testimonials</h2>
    <div class="testimonial">
        {{ with resources.Get "images/marches_publics_logo.jpeg" }}
          {{ with resources.Copy "images/marches_publics_logo.jpeg" . }}
        <img src="{{ .RelPermalink }}">
          {{ end }}
        {{ end }}
        <p><strong><a href="https://www.linkedin.com/in/trankha/">Kha Tran</a> (CEO @ Publictrade):</strong> "[The Cloud Whisperer provides their] devops and GCP expertise and skills to <span style="color: #800020; font-weight: bold; text-decoration: underline;">reduce by a factor of 5 the cost of our GCP infrastructure</span> !"</p>
    </div>
    <div class="testimonial">
        {{ with resources.Get "images/powerspace_logo.jpeg" }}
          {{ with resources.Copy "images/powerspace_logo.jpeg" . }}
          <img src="{{ .RelPermalink }}">
          {{ end }}
        {{ end }}
        <p><strong><a href="https://www.linkedin.com/in/romain-lavancier/">Romain Lavancier</a> (CTO @ Powerspace):</strong> "The Cloud Whisperer assisted us in evaluating our costs on GCP. Thanks to the caching strategy prototype they proposed and implemented, <span style="color: #800020; font-weight: bold; text-decoration: underline;">we are currently in the process of reducing our costs by more than 30%</span>."</p>
    </div>
    <div class="testimonial">
        {{ with resources.Get "images/equeum_logo.jpeg" }}
          {{ with resources.Copy "images/equeum_logo.jpeg" . }}
          <img src="{{ .RelPermalink }}">
          {{ end }}
        {{ end }}
        <p><strong><a href="https://www.linkedin.com/in/dbittern/">Diana Bittern</a> (COO @ Equeum):</strong> "[The Cloud Whisperer] consistently demonstrated a determination to solving problem [by] reducing the complexity of our configuration files, discovering security gaps, and addressing them either directly or <span style="color: #800020; font-weight: bold; text-decoration: underline;">through recommendations for cost-effective solutions</span>."</p>
    </div>
</section>

<section class="blog-entries">

</section>

{{ end }}
